@font-face {
    font-family: "Pixeloid";
    src: local("Pixeloid Sans"), local("PixeloidSans"), url("../fonts/PixeloidSans.ttf") format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: "Pixeloid";
    src: local("Pixeloid Sans Bold"), local("PixeloidSansBold"), url("../fonts/PixeloidSansBold.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "PixelSGA";
    src: local("SGA Pixies"), local("SgaPixies"), url("../fonts/SgaPixies.ttf") format("truetype");
}
@import "../scss/bootstrap.scss";

html {
    user-select: none;
    scrollbar-width: none;
    background-image: url("../img/Aethereal_Planes_-_Cosmic_Rift_2500x2500.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100%;
    > body {
        scrollbar-width: none;
        font-family: 'Pixeloid', ui-monospace;
        background-color: unset;
        margin-bottom: 100px;
    }
}
::-webkit-scrollbar {
    display: none;
}
.card {
    background: rgb(43,14,136);
}
#unwelcome {
    opacity: 0;
}
#pointBar {
    background: rgb(100,14,14);
    background: linear-gradient(90deg, rgba(100,14,14,0) 0%, rgba(100,14,14,1) 50%, rgba(100,14,14,0) 100%);
}
.choice {
    &:hover {
        cursor: pointer;
    }
    height: 100%;
    background: rgb(43,14,136);
    box-shadow: 0 .125rem .25rem rgba(0,0,0,0.5);
    > div {
        > .category-title {
            text-shadow: rgb(0, 0, 0) 0 1px 3px;
        }
        > .points, .conflicts, .requires {
            text-shadow: rgb(0, 0, 0) 0 1px 2px;
            color: #fff;
            &.positive {
                color: #73d23b;
            }
            &.negative {
                color: #d23b73;
            }
            > .conflicts {
                color: #d23b73;
            }
            > .requires {
                color: #3bbbd2;
            }
        }
    }
}
.active-choice {
    background: rgb(20, 67, 167);
    > div {
        > .category-title {
            text-shadow: rgb(255, 255, 255) 0 0 15px, rgb(255, 255, 255) 0 0 5px, rgb(122, 122, 122) 0 1px 3px;
        }
        > .points {
            color: #fff!important;
            text-shadow: rgb(255, 255, 255) 0 0 15px, rgb(255, 255, 255) 0 0 5px, rgb(122, 122, 122) 0 1px 2px;
            &.positive {
                text-shadow: rgb(132, 255, 0) 0 0 15px, rgb(255, 255, 255) 0 0 5px, rgb(122, 122, 122) 0 1px 2px;
            }
            &.negative {
                text-shadow: rgb(255, 0, 144) 0 0 15px, rgb(255, 255, 255) 0 0 5px, rgb(122, 122, 122) 0 1px 2px;
            }
        }
    }

}
.disabled-choice {
    filter: grayscale(70%) blur(1px);
    &:hover {
        cursor: not-allowed;
    }
    background: rgb(100, 14, 14);
}
.category-header{
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    box-shadow: 0rem -2.5rem 2.0rem -2.5rem rgba(0,0,0,0.75) inset;
    > span {
        display: block;
        width: fit-content;
        max-width: 800px;
    }
}
.category-title {
    color: rgb(255, 255, 255);
    text-shadow: rgb(255, 0, 144) 0 0 15px, rgb(255, 255, 255) 0 0 5px;
    width: auto;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.category-bg {
    background: rgb(43,14,136);
    background: radial-gradient(circle, rgba(43,14,136,1) 0%, rgba(113,9,170,1) 100%);
}
.glitch{
    font-family: 'PixelSGA', ui-monospace;
}
#canvas {
    margin: 0;
    padding: 0;
    height:100%;
    width:100%;
    position:fixed;
    display:block;
    z-index: -50;
}
#canopy{
    height: 5rem;
}
#backpack {
    background: rgb(43,14,136);
    position: fixed;
    left: 10px;
    height: fit-content;
    min-width: min-content;
    max-width: 15%;
}
#programming-gibberish, .programming-old, #programming-title{
    height: 0.8rem!important;
    font-size: 0.8rem;
    color: white;
}
#programming-title {
    color: #ffffff44;
    margin-bottom: 3rem!important;
}
#pixi {
    > canvas {
        pointer-events: none;
        z-index: -100;
        position: fixed;
    }
    
}
#points, .backpack-title{
    text-shadow: rgb(255, 255, 255) 0 0 15px;
    &.positive {
        text-shadow: rgb(132, 255, 0) 0 0 15px, rgb(255, 255, 255) 0 0 5px;
    }
    &.negative {
        text-shadow: rgb(255, 0, 144) 0 0 15px, rgb(255, 255, 255) 0 0 5px;
    }
}
